<div class="row col-lg-12 mx-auto mt-4">
    <div class="col-lg-7 p-4 mx-auto border border-white " style="background: #163850; border-radius: 30px;">
        <img src="{{castlepic}}" class=" mx-auto d-block img-fluid" style="border-radius: 30px;">


        <div class="card mx-auto mt-1" style="background: #163850; font-size:larger;  ">
            <h2 class="card-header text-center" style="background: #163850; color: #ffffff">
                {{stampnumber}}: {{nameen}} - {{namejp}}
            </h2>

            <ul class="list-group list-group-horizontal  text-center">

                <li class=" card border w-50 ms-0 me-0 "
                    style="border-top-left-radius: 30px; background: #163850; color: #ffffff">Region: {{region}} </li>
                <li class=" card border w-50 ms-0 me-0 "
                    style=" border-top-right-radius: 30px; background: #163850; color: #ffffff">Prefecture: {{prefecture}}</li>

            </ul>

            <ul class="list-group list-group-horizontal text-center">

                <li class=" card border w-50 ms-0 me-0  " style="background: #163850; color: #ffffff"> City: {{city}}</li>
                <li class=" card border w-50 ms-0 me-0  " style="background: #163850; color: #ffffff">Type: {{type}}</li>

            </ul>

            <ul class="list-group list-group-horizontal text-center">

                <li class=" card w-100 border ms-0 me-0 " style="background: #163850; color: #ffffff"> Condition:
                    {{condition}}</li>

            </ul>

            <ul class="list-group list-group-horizontal text-center">

                <li class=" card w-100 border  ms-0 me-0 " style="background: #163850; color: #ffffff"> Access: {{access}}
                </li>

            </ul>

            <ul class="list-group list-group-horizontal text-center">

                <li class=" card w-100 border  ms-0 me-0 "
                    style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #163850; color: #ffffff">
                    Website: {{website}}</li>

            </ul>

        </div>

    </div>

    <div class="col-5 ">


        <div class="card p-0  nav nav-tabs nav-fill col-md-12"
            style="max-width: 600px; height: 100%;    background: #576672; color: #ffffff">

            <nav class="  col-md-12  p-0 ">
                <div class="nav nav-tabs nav-fill p-0 border-0 bg-transparent col-md-12 m-0"
                    style=" background: #576672; color: #ffffff " id="nav-tab" role="tablist">
                    <button class="nav-link active col-md-6 " id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="false"
                        style="border-top-left-radius: 30px; border-top-right-radius: 30px; background: #163850; color: #ffffff; font-size:1.5rem;">History</button>
                    <button class="nav-link col-md-6" id="nav-profile-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-profile" type="button"
                        style=" border-top-left-radius: 30px; border-top-right-radius: 30px; background: #163850; color: #ffffff; font-size:1.5rem;"
                        role="tab" aria-controls="nav-profile" aria-selected="false">Travel Tips</button>

                </div>
            </nav>
            <div class="tab-content  " id="nav-tabContent">
                <div class="tab-pane fade active show  " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                    <div id="historyborder" class="card  border border-white    mx-auto"
                        style=" border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #163850; color: #ffffff">
                        <div class="row    mx-auto "
                            style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; align-items: center; justify-content:center; background: #163850; color: #ffffff">

                            <div class=" mx-auto  ">
                                <div class="card-body mx-auto mt-4">
                                    <p class="card-title">{{history}}</p>

                                </div>
                            </div>
                            <div class="  mx-auto p-1 mt-1 mb-4"
                                style=" border-radius: 30px; background: #e2d5af; max-width: 90%">
                                <img src="{{stamppic}}" class=" mx-auto d-block img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade  " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div id="travelborder" class="card  row  border border-white   mx-auto col-12"
                        style=" border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #163850; color: #ffffff">
                        <div class="row    mx-auto "
                            style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; align-items: center; justify-content:center; background: #163850; color: #ffffff">

                            <div class="card-header mt-3 ps-4 p-2"
                                style=" border-top-right-radius: 30px; border-top-left-radius: 30px; background: #4f9726; color: #ffffff; font-size:1.2rem;">
                                USERNAME
                            </div>
                            <div class="card-body"
                                style=" border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #e2d5af; color: #000000">

                                <p class="card-text p-3">Comment Comment Comment Comment Comment Comment Comment Comment
                                    Comment Comment Comment Comment Comment Comment Comment Comment Comment Comment
                                    Comment Comment Comment Comment Comment Comment </p>

                            </div>


                            <div class="card-body mx-auto mt-3 mb-3 text-center">
                                <h5>Got travel tips? Share them here!</h5>
                                <form class="">
                                    <div class=" d-flex  text-right">

                                        <textarea class="form-control ps-4 p-2"
                                            style="border-bottom-right-radius: 0px; border-top-right-radius: 0px; border-top-left-radius: 30px; border-bottom-left-radius: 30px;"
                                            placeholder="Share your experience..." id="exampleFormControlTextarea1"
                                            rows="3"></textarea>
                                        <button type="submit" class="btn col-2  "
                                            style=" border-bottom-right-radius: 30px; border-top-right-radius: 30px; border-top-left-radius: 0px; border-bottom-left-radius: 0px;  background: #4f9726; color: #ffffff"><i
                                                class="bi-chat-left-text" style="font-size: 2.0rem; "></i> </button>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div>

</div>








